<div class="container mx-auto max-w-md p-6 bg-gray-200 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-center mb-4">UPDATE ROOM</h2>
    <form [formGroup]="updateRoomForm" (ngSubmit)="onSubmitForm()">
                <label for="image"class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ảnh sản phẩm</label>
            <input type="text" id="image"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"placeholder="Ảnh sản phẩm..."
            formControlName="image"
            required
            />
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Room Name</label>
            <input formControlName="name" class="mt-1 block w-full border border-gray-700 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 p-2" />
            <p *ngIf="updateRoomForm.get('name').invalid && updateRoomForm.get('name').touched" class="text-red-500 text-sm mt-1">Room name is required</p>
        </div>
        
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Room Type</label>
            <input formControlName="type" class="mt-1 block w-full border border-gray-700 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 p-2" />
            <p *ngIf="updateRoomForm.get('type').invalid && updateRoomForm.get('type').touched" class="text-red-500 text-sm mt-1">Room type is required</p>
        </div>
        
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Price (VND)</label>
            <input formControlName="price" type="number" class="mt-1 block w-full border border-gray-700 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 p-2" />
            <p *ngIf="updateRoomForm.get('price').invalid && updateRoomForm.get('price').touched" class="text-red-500 text-sm mt-1">Valid price is required</p>
        </div>
        <div>
            <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 rounded-md hover:bg-blue-600">
              SAVE
            </button>
        </div>
    </form>
</div>
